<%= render 'partials/header.html.erb', {:banner => '', :showName => true} %>

<div class="flex-center flex-vert style_link">
  <h2>Let me tell you something...</h2>
  <p><%= @article.desription %></p>
  <%= link_to "Back To Blogs",  articles_path %>
</div>
