<div class="footer flex-center bg2">
  
  <div class="row">

    <div class="col-md-4 col-12 amazon">
      <a class="btn btn-primary btn-lg icon_btn btn_hov" target="_blank" href="https://www.amazon.com/Arcadia-Ellis-Sinclair/dp/1612969178" role="button">ORDER ARCADIA NOW   <i class="fab c_accent fa-amazon fa-sm"></i></a>
    </div>

    <div class="col-md-4 col-12 f_patreon">
      <a class="btn btn-primary btn-lg icon_btn btn_hov" target="_blank" href="https://www.amazon.com/Arcadia-Ellis-Sinclair/dp/1612969178" role="button">CHECK OUT PATREON   <i class="fab c_accent fa-patreon fa-sm"></i></a>
    </div>

    <div class="col-md-4 col-12 contact">
      <a class="btn btn-primary btn-lg icon_btn btn_hov" target="_blank" href="https://www.amazon.com/Arcadia-Ellis-Sinclair/dp/1612969178" role="button">CONTACT ELLIS SINCLAIR   <i class="fas c_accent fa-envelope fa-sm"></i></a>
    </div>

    <div class="col-md-12 col-12 flex-center flex-vert m_to_bottom">
      <div class="line bg1"></div>
      <p class=" c_white">Website developed & maintained by Bryan Jastrzembski</p>
    </div>

  </div>
</div>