
<div class="container-fluid blogs_recent_container">

    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card_container flex flex-center">
            <div class="card_top flex flex-center wid_full" id="top">
              <div class="card_top_pic ab wid_full hei_full">
              </div>  
              <div class="card_top_desc flex flex-center ab wid_full hei_full">
                <%= article.desription %>
              </div>
              <div class="card_top_btns flex ab wid_full">
                <%= link_to 'read', article_path(article), class: "ab wid_full flex-center", data: {icon: 'info', mini: 'true', role: 'button'} %>
              </div>    
            </div>
            <div class="card_bottom wid_full bg1 flex flex-center">
              <p><span class="p1"><%= article.title %></p>
            </div>
          </div>
        </div>
      <%end%>
    </div>

</div>
