<div class="container-fluid blogs_recent_container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
      <div class="card_container flex flex-center">
        <div class="card_top flex flex-center wid_full" id="top">
          <div class="card_top_pic ab wid_full hei_full">
          </div>  
          <div class="card_top_desc flex flex-center ab wid_full hei_full">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique vulputate vulputate. Sed eu congue enim. Aenean varius nisi eget vulputate pharetra. Duis accumsan ipsum sed lobortis pulvinar. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
          <div class="card_top_btns flex ab wid_full">
            <button class="wid_full ab">READ</button>
          </div>    
        </div>
        <div class="card_bottom wid_full bg1 flex flex-center">
          <p ><span class="p1">some title /</span> <span class="p2">my sample</span></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
      <div class="card_container flex flex-center">
        <div class="card_top flex flex-center wid_full" id="top">
          <div class="card_top_pic ab wid_full hei_full">
          </div>  
          <div class="card_top_desc flex flex-center ab wid_full hei_full">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique vulputate vulputate. Sed eu congue enim. Aenean varius nisi eget vulputate pharetra. Duis accumsan ipsum sed lobortis pulvinar. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
          <div class="card_top_btns flex ab wid_full">
            <button class="wid_full ab">READ</button>
          </div>    
        </div>
        <div class="card_bottom wid_full bg1 flex flex-center">
          <p ><span class="p1">some title /</span> <span class="p2">my sample</span></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
      <div class="card_container flex flex-center">
        <div class="card_top flex flex-center wid_full" id="top">
          <div class="card_top_pic ab wid_full hei_full">
          </div>  
          <div class="card_top_desc flex flex-center ab wid_full hei_full">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique vulputate vulputate. Sed eu congue enim. Aenean varius nisi eget vulputate pharetra. Duis accumsan ipsum sed lobortis pulvinar. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
          <div class="card_top_btns flex ab wid_full">
            <button class="wid_full ab">READ</button>
          </div>    
        </div>
        <div class="card_bottom wid_full bg1 flex flex-center">
          <p ><span class="p1">some title /</span> <span class="p2">my sample</span></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
      <div class="card_container flex flex-center">
        <div class="card_top flex flex-center wid_full" id="top">
          <div class="card_top_pic ab wid_full hei_full">
          </div>  
          <div class="card_top_desc flex flex-center ab wid_full hei_full">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique vulputate vulputate. Sed eu congue enim. Aenean varius nisi eget vulputate pharetra. Duis accumsan ipsum sed lobortis pulvinar. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
          <div class="card_top_btns flex ab wid_full">
            <button class="wid_full ab">READ</button>
          </div>    
        </div>
        <div class="card_bottom wid_full bg1 flex flex-center">
          <p ><span class="p1">some title /</span> <span class="p2">my sample</span></p>
        </div>
      </div>
    </div>

  </div>
</div>
