<div class="navbar_container">
  <%= link_to  "HOME", root_path %>
  <%= link_to  "ABOUT", about_path %>
</div>

<div class="header_container flex-center">
  <div class="header_content flex-center">
    <div class=" flex-vert flex-center">
      <h1>Read About Me</h1>
      <button>Contact Me</button>
    </div>
  </div>
</div>

<div class="flex-center about_container flex-vert">
  <h3>Important Stuff</h3>
  <div class="half-width">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, nostrum, sapiente aperiam nulla deserunt corporis quasi veniam quam quo sit fugiat qui beatae eaque ipsum pariatur a, voluptatem aliquam cum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, nostrum, sapiente aperiam nulla deserunt corporis quasi veniam quam quo sit fugiat qui beatae eaque ipsum pariatur a, voluptatem aliquam cum.</p>
  </div>
</div>