<%= render 'partials/header.html.erb', {:banner => 'about ellis'} %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="col-md-4">
        <%= image_tag 'temp-bio-pic.jpg' %>
      </div>
      <div class="col-md-8">
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>