<%= render 'partials/header.html.erb', {:banner => 'about ellis'} %>

<div class="about_section ">
  <div class="row">
    <div class="col-md-3 col-12 flex about_pic">
      <div class="bio_pic_bg"></div>
      <%= image_tag 'temp-bio-pic.jpg', class: 'm_to_right' %>
    </div>
    <div class="col-md-8 col-12 about_text">

      <p><span class="t_bold">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum nihil, ipsum esse, pariatur magni, excepturi accusantium iusto commodi ex beatae fuga?</span> Alias doloremque suscipit facilis, nesciunt fugit magnam blanditiis quas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni dolorem fugit sapiente consequuntur atque modi, eveniet, excepturi perspiciatis porro adipisci dicta, minus odio mollitia. Corrupti ducimus explicabo ratione delectus nesciunt.

      <br><br>

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis cupiditate quia ipsam nesciunt quae, facilis, quod voluptatum porro ratione voluptas esse nam ad inventore dolorum itaque ab corporis ipsum quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde beatae perspiciatis velit fugit laborum? Facilis, accusamus incidunt, sapiente dolor maxime dolores expedita voluptatibus tenetur perspiciatis odio dignissimos voluptatem, et rem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum vel dolores necessitatibus totam? Deserunt impedit aut totam tempora corporis ea consequatur explicabo vero aperiam, ab, soluta architecto, nobis voluptatum labore.
      <br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis cupiditate quia ipsam nesciunt quae, facilis, quod voluptatum porro ratione voluptas esse nam ad inventore dolorum itaque ab corporis ipsum quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde beatae perspiciatis velit fugit laborum? Facilis, accusamus incidunt, sapiente dolor maxime dolores expedita voluptatibus tenetur perspiciatis odio dignissimos voluptatem, et rem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum vel dolores necessitatibus totam? Deserunt impedit aut totam tempora corporis ea consequatur explicabo vero aperiam, ab, soluta architecto, nobis voluptatum labore.</p>

    </div>
  </div>

</div>


<%= render 'partials/footer.html.erb' %>

