<%= render 'partials/header.html.erb', {:banner => 'About Me'} %>

<div class="flex-center about_container flex-vert">
  <h3>Important Stuff</h3>
  <div class="half-width">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, nostrum, sapiente aperiam nulla deserunt corporis quasi veniam quam quo sit fugiat qui beatae eaque ipsum pariatur a, voluptatem aliquam cum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, nostrum, sapiente aperiam nulla deserunt corporis quasi veniam quam quo sit fugiat qui beatae eaque ipsum pariatur a, voluptatem aliquam cum.</p>
  </div>
</div>