<%= render 'partials/header.html.erb', {:banner => 'ellis sinclair'} %>

<div class="section flex-center">
  <div class="row flex-center">

    <div class="col-md-6 col-3 home_book_book flex-center">
      <%= image_tag "book-cover-arcadia.jpeg" %>   
    </div>

    <div class="col-md-6 col-9 home_book_desc flex-center flex-vert c1">
      <div class="flex-center flex-vert container_title">
        <h2>Arcadia</h2>
        <div class="under_line_1 bg3"></div>
      </div>
      <p>Arcadia was a small town, nestled in the countryside, hidden from the bustling life of the metropolis Athens to the north. It was once an idyllic village of hills and apple orchards, a place to settle down, a place where children and families could grow.</p>
      <p>One abandoned home, a monument of history and decay, cast its long shadow across the village and hidden forces from darker places plague the residents in their attempt to reclaim the town. Our story begins with a young boy named Vincent, visiting Arcadia after the death of his grandmother. He finds himself as the most recent quarry in a struggle to regain the town spanning the generations of those who came before him.</p>
      <a class="btn btn-primary btn-lg icon_btn btn_hov" href="#" role="button">ORDER NOW   <i class="fab fa-amazon fa-sm"></i></div></a>
    </div>

  </div>
</div>

<div class="section home_blog_container bg1 flex-center flex-vert">
  <div class="flex-center flex-vert container_title">
    <h2>Latest Blogs</h2>
    <div class="under_line_1 bg2"></div>
  </div>
  <div class="blogs full_width">
    <%= render 'partials/recentBlogs.html.erb' %>
  </div>
  <p class="">Say a few things about your blog here</p>
  <div class="flex">
    <a class="btn btn-primary btn-lg btn_hov" href="#" role="button">MORE BLOGS</a>
    <a class="btn btn-primary btn-lg btn_hov" href="#" role="button">SUBSCRIBE</a>
  </div>
</div>

<div class="section home_about_container flex-center flex-vert">
  <div class="row flex">
    
    <div class="col-md-7 col-12 flex-center flex-vert">
      <div class="flex-center flex-vert container_title_2 m_to_right">
        <h2 class="m_to_right">Ellis Sinclair</h2>
        <div class="under_line_1 bg3 m_to_right"></div>
      </div>
      <p class="t_right">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dolores perspiciatis quasi praesentium earum fugiat quae laudantium obcaecati! Eius perspiciatis a laborum accusamus molestias rem optio voluptas distinctio maiores tempora.</p>
      <div class="flex m_to_right">
        <div class="about_icons flex-center">
        <div class="ic flex-center">
          <i class="fab fa-facebook-square fa-2x"></i>
        </div>
        <div class="ic flex-center">
          <i class="fab fa-instagram fa-2x"></i>
        </div>
        <div class="ic flex-center">
          <i class="fab fa-amazon fa-2x"></i>
        </div>
      </div>
        <a class="m_to_right btn btn-primary btn-lg btn_hov" href="#" role="button">MORE ABOUT ELLIS</a>
    </div>
    </div>
    <div class="col-md-5 col-12 flex-center">
        <%= image_tag 'temp-bio-pic.jpg' %>
    </div>
  </div>
</div>


