<%= render 'partials/header.html.erb', {:banner => 'ellis sinclair'} %>


<div class="section">
  <div class="home_book_container flex-center">
    <div class="home_book_book flex-center">
      <%
=begin%>
 <%= image_tag("book-cover-arcadia.jpeg", :alt => "rss feed") %> 
<%
=end%>
    </div>
    <div class="home_book_desc flex-center flex-vert c3">
      <h2>Arcadia</h2>
      <p>Arcadia was a small town, nestled in the countryside, hidden from the bustling life of the metropolis Athens to the north. It was once an idyllic village of hills and apple orchards, a place to settle down, a place where children and families could grow.</p>
      <p>One abandoned home, a monument of history and decay, cast its long shadow across the village and hidden forces from darker places plague the residents in their attempt to reclaim the town. Our story begins with a young boy named Vincent, visiting Arcadia after the death of his grandmother. He finds himself as the most recent quarry in a struggle to regain the town spanning the generations of those who came before him.</p>
      <button>ORDER NOW</button>
    </div>
  </div>
</div>

<div class="section s2 flex flex-vert">
    <h1 class="c3">Recent Blogs</h1>
    <div class=" home_blog_container">
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolore tempora amet,</h3>
      <div class="flex-center home_blog_recent">
        <div class=""></div>
      </div>
    </div>
  </div>
</div>