<%= render 'partials/header.html.erb', {:banner => 'Welcome!'} %>

<div class="greetings_container flex-center flex-vert">

  <h2>We've got things to say...</h2>

  <div class="flex-center half-width greetings_columns">
    <div  class="half-width greetings_columns-col">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, nostrum, sapiente aperiam nulla deserunt corporis quasi veniam quam quo sit fugiat qui beatae eaque ipsum pariatur a, voluptatem aliquam cum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, nostrum, sapiente aperiam nulla deserunt corporis quasi veniam quam quo sit fugiat qui beatae eaque ipsum pariatur a, voluptatem aliquam cum.</p>
    </div>
    
    <div class="half-width greetings_columns-col">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, nostrum, sapiente aperiam nulla deserunt corporis quasi veniam quam quo sit fugiat qui beatae eaque ipsum pariatur a, voluptatem aliquam cum.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, nostrum, sapiente aperiam nulla deserunt corporis quasi veniam quam quo sit fugiat qui beatae eaque ipsum pariatur a, voluptatem aliquam cum.</p>
    </div>
  </div>

</div>