/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ****** */
/* GLOBAL */
/* ****** */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: #f0eceb;
}

* {
	font-family: 'Noto Sans JP', sans-serif;
}

button:hover,
.new-article_container input[type='submit']:hover {
	cursor: pointer;
}

/* *************** */
/* UTILITY CLASSES */
/* *************** */

.flex {
	display: flex;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-vert {
	flex-direction: column;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
}

/* ******************** */
/*       	COLORS        */
/* ******************** */

.c1 {
	color: #f0eceb;
}
.c2 {
	color: #729f98;
}
.c3 {
	color: #283018;
}
.c4 {
	color: #aa863a;
}

.bg1 {
	background-color: #f0eceb;
}
.bg2 {
	background-color: #729f98;
}
.bg3 {
	background-color: #283018;
}
.bg4 {
	background-color: #aa863a;
}

.border {
	border: solid 1px rgba(0, 0, 0, 0.39);
}

.style_link a,
.new-article_container input[type='submit'] {
	text-decoration: none;
	margin: 2px 3px;
	font-size: 1rem;
	border: solid 1px rgba(0, 0, 0, 0.116);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.075);
	border-radius: 5px;
	color: #f0eceb;
	background-color: #729f98;
	width: 12vw;
	min-height: 30px;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ****** */
/* NAVBAR */
/* ****** */

.navbar_container {
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
}

.navbar_container a {
	text-decoration: none;
	margin: 10px 20px;
	color: #f7f7f7;
	letter-spacing: 2px;
}

/* ****** */
/* HEADER */
/* ****** */

.header_container {
	min-height: 25vh;
	padding: 0px 50px;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.143);
}

.header_content {
	flex-direction: row;
}

.greetings_columns {
	padding: 3px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.15rem;
}
