/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
//  *= require_tree .
//  *= require_self
 */

// page stylesheets
@import './articles.scss';
@import './pageAbout';
@import './pageHome';
@import './partials.scss'; // for all partials

// component stylesheets
@import './componentCards.scss';

// CDN imports
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400&display=swap');

/* ****************************************** */
/*              GLOBAL STYLING                */
/* ****************************************** */

body {
	margin: 0;
	padding: 0;
}

// ***********************
// BUTTONS (except colors, colors grouped below)
// -----

button:hover,
.btn:hover,
.new-article_container input[type='submit']:hover,
.btn-primary:hover {
	cursor: pointer;
}

.style_link a,
.new-article_container input[type='submit'],
button,
.btn,
.btn-primary {
	text-decoration: none;
	margin: 2px 3px;
	font-size: 0.95rem;
	border: none;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	min-width: 12vw;
	min-height: 30px;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.15s ease-in-out;
}

.icon_btn svg {
	margin-left: 10px;
}

// TEXTS

* {
	font-family: 'Noto Sans JP', sans-serif;
}

h1 {
	font-weight: 200;
}

h2,
h3,
h4 {
	font-weight: 100;
	margin-bottom: 20px;
}

p {
	font-size: 0.94rem;
	line-height: 1.2rem;
	letter-spacing: 1px;
	font-weight: 100;
}

.container_title {
	margin: 0 auto 0 0;
}
.container_title_2 {
	margin: 0 0 0 auto;
}
.container_title,
.container_title_2 {
	position: relative;
}
.container_title h2,
.container_title_2 h2 {
	margin: 0;
}

.t_right {
	text-align: right;
}

.t_small {
	font-size: 0.75rem;
}

.under_line_1 {
	height: 7px;
	width: 55%;
	margin: 9px auto 13px 0px;
}
.under_line_2 {
	height: 7px;
	width: 55%;
	margin: 10px 0px 0px auto;
}

/* ****************************************** */
/*         GLOBAL UTILITY + LAYOUT            */
/* ****************************************** */

.row {
	width: 100%;
}
// section 1___Current Headline Book

.section {
	width: 100%;
	box-sizing: border-box;
	padding: 40px 7.5%;
	min-height: 75vh;
}

.flex {
	display: flex;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-vert {
	flex-direction: column;
}

.full_width {
	width: 100%;
}

.half_width {
	width: 50%;
}

.m_to_right {
	margin-left: auto;
}

.m_to_bottom {
	margin-top: auto;
}

/* ****************************************** */
/*           GLOBAL COLORS + BORDERS          */
/* ****************************************** */

// ** NOTE: for colors pertaining to specific components such as cards, find dedicated stylesheet named "component[name].scss" in asset pipeline **

// *************
// MAIN COLORS
// ------
// #f1f1f1

body {
	// background-color: #f8f8fa;
	background-color: white;
}

.c1 {
	color: rgba(0, 0, 0, 0.767);
}

.c_white {
	color: #f1f1f1;
}

.c_accent {
	// color: rgba(230, 25, 95, 0.9);
	color: rgba(237, 0, 20, 0.9);
}

.bg1 {
	background-color: #f1f1f1;
}

.bg2 {
	background-color: rgba(0, 0, 0, 0.767);
}

.bg3 {
	background-color: #d4d4d4;
}

.bg4 {
	background: rgb(59, 59, 59);
	background: linear-gradient(
		90deg,
		rgba(59, 59, 59, 1) 8%,
		rgba(109, 109, 109, 1) 35%,
		rgba(241, 241, 241, 1) 73%
	);
}

.bg5 {
	background-color: rgba(237, 0, 20, 0.9);
	// background-color: rgba(230, 25, 95, 0.9);
}

.bg_white {
	background-color: white;
}

.style_link a,
.new-article_container input[type='submit'],
button,
.btn,
.btn-primary {
	background-color: rgba(0, 0, 0, 0.767);
	color: #f1f1f1;
}

.style_link a:hover,
.new-article_container input[type='submit'],
button:hover,
.btn:hover,
.btn-primary:hover {
	letter-spacing: 2px;
}

.btn_hov {
	border: solid 1px rgba(0, 0, 0, 0.767);
}
.btn_hov:hover {
	border: solid 1px rgba(0, 0, 0, 0.767);
	background-color: #f1f1f1;
	color: rgba(0, 0, 0, 0.767);
}

// *************
// GLOBAL BORDERS
// ------

.border {
	border: solid 1px;
}

.border {
	border-color: rgba(0, 0, 0, 0.39);
}

.navbar_container {
	// border-bottom: solid 1px #f8f8fa;
	border-top: solid 1px #d4d4d4;
}

//  * ----------------------------------------
//  * animation flip-in-hor-bottom
//  * ----------------------------------------

.flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 0.65s cubic-bezier(0.86, 0, 0.07, 1)
		both;
	animation: flip-in-hor-bottom 0.65s cubic-bezier(0.86, 0, 0.07, 1) both;
}

@-webkit-keyframes flip-in-hor-bottom {
	0% {
		-webkit-transform: rotateX(80deg);
		transform: rotateX(80deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
		opacity: 1;
	}
}
@keyframes flip-in-hor-bottom {
	0% {
		-webkit-transform: rotateX(80deg);
		transform: rotateX(80deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
		opacity: 1;
	}
}
