.about_section {
	padding: 10px 10%;
	min-height: 65vh;
	position: relative;

	.about_pic {
		position: relative;
		background-color: rgba(255, 255, 255, 0.92);

		.bio_pic_bg {
			background-image: asset_url('bg-design-1.jpg');
			background-size: cover;
			width: 97%;
			height: 100%;
			position: absolute;
			z-index: -1;
		}
	}

	.about_text {
		padding: 25px 20px 45px 20px;
		border-left: solid 6px rgba(237, 0, 20, 0.9);
	}

	.row {
		margin: 20px 0;
		position: relative;
	}

	.flex {
		align-items: flex-start;
		box-sizing: content-box;
	}

	img {
		padding-top: 25px;
	}
}
