/* ****************************************** */
/*        	    HEADER + NAVBAR               */
/* ****************************************** */

// Header Container
.header_container {
	min-height: 110px;
	position: relative;
}

.header_container h1 {
	letter-spacing: 5px;
}

// Navbar

.navbar_container,
.navbar {
	display: flex;
	align-items: center;
	position: sticky;
	height: 50px;
	width: 100%;
	margin-top: auto;
	padding: 0;
	margin-bottom: 20px;
}

.navbar_container ul {
	padding: 0;
	width: 70%;
	margin: 0 auto;
}
.navbar_container li {
	list-style: none;
	margin: 0px auto;
}

.navbar_container a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.767);
	letter-spacing: 4px;
	font-size: 1.05rem;
	font-weight: 200;
}

.navbar_social {
	position: absolute;
	right: 15px;
}

.navbar_social svg {
	margin: 5px;
}

/* ****************************************** */
/*        	    RECENT BLOGS                  */
/* ****************************************** */

@media only screen and (min-width: 992px) {
	.blogs_recent_container {
		padding: 5px 7.5% 20px 7.5%;
	}
}
