// section 1___Current Headline Book

.section {
	width: 100%;
	box-sizing: border-box;
	padding: 40px 0px;
}
.section_one_container {
	width: 100%;
	box-sizing: border-box;
	padding: 40px 0px;
}

.home_book_container {
	height: 250vh;
	width: 65%;
	margin: 20px auto;
	position: relative;
}

.home_book_book {
	position: relative;
	width: 40%;
}

.home_book_book img {
	position: relative;
	width: 75%;
	margin: 0 auto;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.45);
}

.home_book_desc {
	width: 50%;
	position: relative;
	box-sizing: border-box;
	padding: 10px;
}

.home_book_desc h2 {
	margin: 0;
	margin-right: auto;
	border-bottom: solid 2px rgba(0, 0, 0, 0.17);
}

// recent blogs

.s2 h1 {
	border-bottom: solid 2px rgba(0, 0, 0, 0.17);
	margin: 5px auto;
	width: 30%;
	text-align: center;
	padding-bottom: 5px;
}

.s2 h3 {
	line-height: 2rem;
	text-align: center;
}

.home_blog_container {
	width: 50%;
	margin: 0 auto;
}

.s2 {
	min-height: 400px;
}
